body{
  margin:0;
  height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
  font-family:Arial, sans-serif;
  background:linear-gradient(135deg,#0f2027,#203a43,#2c5364);
}

.calculator{
  background:rgba(255,255,255,0.08);
  backdrop-filter:blur(15px);
  padding:20px;
  border-radius:20px;
  width:320px;
  box-shadow:0 0 25px rgba(0,0,0,0.4);
}

#display{
  width:100%;
  height:80px;
  font-size:40px;
  border:none;
  border-radius:15px;
  margin-bottom:15px;
  text-align:right;
  padding:15px;
  box-sizing:border-box;
  background:#000;
  color:#00ffcc;
}

.buttons{
  display:grid;
  grid-template-columns:repeat(4,1fr);
  gap:12px;
}

button{
  height:65px;
  font-size:22px;
  border:none;
  border-radius:15px;
  cursor:pointer;
  background:#ffffff10;
  color:white;
  transition:0.2s;
}

button:hover{
  background:#ffffff30;
}

.operator{
  color:#00ffcc;
  font-weight:bold;
}

.equal{
  grid-column:span 2;
  background:#00ffcc;
  color:black;
  font-size:26px;
}

.clear{
  background:#ff4d4d;
}
